.main-card{
    height: 100px;
    width: 870px;
}

.details-card{
    height: auto;
    width: 900px;
}

.content-card1{
    height: 440px;
    width: 320px;
}
.content-card2{
    height: 440px;
    width: 550px;
    margin-left: 20px;
}
.profile-img{
    height: 200px;
    margin-left: 60px;
    margin-top: 50px;
}